<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <application
        android:allowBackup="true"
        android:icon="@android:drawable/sym_def_app_icon"
        android:label="DLOVID-Short"
        android:theme="@android:style/Theme.NoTitleBar"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true">
        
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="${admobAppId}"/>

        <!-- MENU LOGIN - AWAL -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- MENU DRAMA -->
        <activity android:name=".DramaActivity" android:exported="false" />
        
        <!-- FULLSCREEN VERTIKAL PLAYER -->
        <activity 
            android:name=".PlayerActivity" 
            android:exported="false" 
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation" />

        <!-- NANTI: BERANDA, PLUS, PESAN, AKUN -->
        <activity android:name=".BerandaActivity" android:exported="false" />
        <activity android:name=".PlusActivity" android:exported="false" />
        <activity android:name=".PesanActivity" android:exported="false" />
        <activity android:name=".AkunActivity" android:exported="false" />

    </application>
</manifest>
